@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
	
	#modal_bg {
		height: 568px;
		
		&.hide {
			-webkit-transform: translate3d(0, 568px, 0);
		}
		
		#login_form {
			top: 200px;
		}
	}
	
	section#main {
		height: 493px;
		-webkit-background-size: 320px 500px;
		
		#content_home {
			@include background-image-retina('../../images/bg_home_ip5', 'png', 320px, 568px, true, false, true);
		
			img#app_brand {
				top: 370px;
			}

		}
		
		#content_providers {
			height: 353px;
			background-repeat: no-repeat;
			
			.innerScroll {
				height: 388px;
				margin-top: -55px;
			}
		}
		
		#content_patients {
			height: 493px;
			.innerScroll {
				height: 483px;
			}
		}
	}
	
}