body {
  height: 640px; 
  width: 360px;
}

#modal_bg {
  height: 640px;
  width: 100%;
}

#login_form {
  top: 250px;
  left: 45px;
  width: 240px;
  height: 175px;
  font-size: 18px;
  line-height: 22px;
  
  input {
    font-size: 18px;
  }
}

#content_animation {
    video {
      width: 1200px;
      height: 652px;
      position: absolute;
      top: 335px;
      left: 100px;
    }
}

section#main {
  @include background-image-retina('../../images/phone/bg_ablation', 'png', 360px, 640px, true, false, true);
}

#content_home {
    @include background-image-retina('../../images/phone/bg_home', 'png', 360px, 640px, true, false, true);
    
    img#app_brand {
      top: 440px;
      left: 136px;
      width: 175px;
    }
}

#content_patients {
  
  width: 360px;
  background-color: #d0e0ed;
  
  .innerScroll {
    padding-bottom: 69px;  
  }
  
  h1 {
      @include background-image-retina('../../images/phone/header_ablation', 'png', 360px, 208px, true, false, true);
      height: 207px;
  }
  
  h3 {
      @include background-image-retina('../../images/phone/bg_titlebar', 'png', 360px, 44px, false, false, true);
  }
}

#content_providers {
    padding-top: 75px;
    width: 360px;
    @include background-image-retina('../../images/phone/bg_convergent', 'png', 360px, 640px, true, false, true);
    
    .innerScroll {
      
      display: block;
      padding: 0 5px 69px;
      
      a {
        display: inline;
        width: 300px;
        height: auto;
        padding: 0;
        margin: 0;
      }
      
      .provider_hero {
        width: 320px;
      }
    }
        
}

footer {
  nav {
    ul {
      li {
        @include background-image-retina('../../images/phone/btn_nav', 'png', 90px, 84px, true, true, true);
        a {
         width: 120px;
         height: 113px;
         
         &#nav_home {
            @include background-image-retina('../../images/phone/icon_home', 'png', 90px, 84px, false, false, true);
            //background-position: 6px 17px;      
          }
          
          &#nav_animation {
            @include background-image-retina('../../images/phone/icon_animation', 'png', 90px, 84px, false, false, true);
            //background-position: 4px 17px;      
          }
          
          &#nav_patients {
            @include background-image-retina('../../images/phone/icon_patient', 'png', 90px, 84px, false, false, true);
            //background-position: 4px 17px;      
          }
          
          &#nav_providers {
            @include background-image-retina('../../images/phone/icon_providers', 'png', 90px, 84px, false, false, true);
            //background-position: 6px 12px;      
          }
        }
      }
    }
  }
}
